/* find consistent line colors */

html {
  background-color: #F4F4E3;
  /*text-transform: uppercase;*/
  /*font-family: 'Athiti', sans-serif;*/
  /*font-family: 'Orbitron', sans-serif;*/
  /*font-family: 'Julius Sans One', sans-serif;*/
  /*font-family: 'Syncopate', sans-serif;*/
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 80vw;
  padding: 1%;
  border-left: 1px solid rgba(200,200,200,.5);
  border-right: 1px solid rgba(200,200,200,.5);
}

nav, .btn {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-weight: 600;
  font-size: 24px;
  width: 45%;
  height: 7%;
  align-items: center;
  margin: 5px 0 5px 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  border: 2px solid transparent;
  text-decoration: none;
  color: #393C3E;
  text-transform: uppercase;
  padding: 7px 0 0 0;
  margin: 1px;
}

nav a:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: #64686B;
  /* find a grey-ish color */
  border-radius: 50%;
  transition: color 2s linear 0s, border-radius 2s linear 0s;
}

nav a:active {
  color: white;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.prof {
  width: 50%;
  text-align: center;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  color: #364149, black;
}

h4, h5 {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: lowercase;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  letter-spacing: .1em;
  text-align: center;
  text-transform: lowercase;
  line-height: 1.3em;
}

.profile-pic {
  border-radius: 50%;
  border: 3px solid #435961;
  height: 175px;
  margin: auto 50px auto 0;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.brand {
  margin: 2%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 3%;
}

.info {
  font-family: 'Tenali Ramakrishna', sans-serif;
  line-height: 1em;
  letter-spacing: 2%;
  text-align: center;
}

.button-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
}

.btn {
  padding: 20px 5px;
  border: 3px solid #435961;
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 8px;
  color: #435961;
  background-color: rgba(0,0,0,.4);
}

.btn:hover {
  background-color: #435961;
  border: 3px solid rgba(0,0,0,.4);
  color: white;
  transition: color 2s ease 0s, background-color 2s ease 0s;
}

.home .btn {
  margin: 5% 0;
  display: inline-block;
}

/* Who */
main {
  margin: 5% 0 1% 0;
  display: flex;
  flex-direction: column;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.who-header {
  font-size: 30px;
  transform: rotate(270deg);
  font-family: 'Julius Sans One', sans-serif;
}

.who {
  margin: 25px 0 50px 0;
  background: url('../images/desk.jpg') fixed center center no-repeat;
  background-size: cover;
  z-index: 1;
  width: 90%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  position: relative;
}

.descriptor-slide {
  font-size: 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 8px;
  text-align: center;
  position: absolute;
  top: 20%;
  padding: 10px;
  background-color: rgba(200,200,200,.7);
  z-index: 5;
  text-transform: uppercase;
}

.attr-info {
  text-transform: lowercase;
  font-size: 20px;
}

/* Projects */
.project-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail {
  width: 40vw;
  height: 40vh;
  border: 2px solid rgba(200,200,200,.5);
  text-align: center;
}



/* CV */

/* Footer */
/* Contact Me */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 1px solid rgba(200,200,200,.5);
}

.icon-list {
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  margin-right: 50px;
}

.icons {
  height: 25px;
}

.fb-icon {
  height: 27px;
}

.steam-icon {
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
}
