html {
  background-color: #F4F4E3;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  margin: 0;
  width: 80vw;
  padding: 1%;
  border-left: 1px solid rgba(200,200,200,.5);
  border-right: 1px solid rgba(200,200,200,.5);
}

nav, .btn {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  margin: 5px 0 5px 0;
}

nav {
  margin: 2px 1px 15px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 35vw;
  height: 5vh;
}

nav a {
  border: 2px solid transparent;
  text-decoration: none;
  color: #393C3E;
  text-transform: uppercase;
  padding: 7px 0 0 0;
  margin: 1px;
}

nav a:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: #64686B;
  border-radius: 50%;
  transition: color 2s linear 0s, border-radius 2s linear 0s;
}

nav a:active {
  color: white;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.prof {
  max-width: 30vw;
  max-height: 30vh;
  text-align: center;
  width: auto;
  height: auto;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  color: #364149, black;
}

h4, h5 {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: lowercase;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  letter-spacing: .1em;
  text-align: center;
  text-transform: lowercase;
  line-height: 1.3em;
}

.profile-pic {
  border-radius: 50%;
  border: 2px solid rgba(67,89,97,.5);
  max-height: 30vh;
  max-width: 30vw;
  width: auto;
  height: auto;
  margin: auto 50px auto 0;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.brand {
  margin: 3.5% 10%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 3%;
}

.info {
  font-family: 'Tenali Ramakrishna', sans-serif;
  line-height: 1.35em;
  letter-spacing: 2%;
  text-align: center;
}

.button-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
}

.btn {
  padding: 15px 5px;
  border: 1px solid rgba(67,89,97,1);
  border-radius: 3%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 8px;
  width: 15vw;
  height: .5vh;
  color: #435961;
  background-color: rgba(67,89,97,.5);
}

.btn:hover {
  background-color: rgba(67, 89, 97, 1);
  color: white;
  transition: color 2s ease 0s, background-color 2s ease 0s;
}

.home .btn {
  margin: 1% 0 5% 0;
  display: inline-block;
}

.form-holder {
  display: flex;
  flex-direction: column;
}

/* Who */
main {
  margin: 5% 0 1% 0;
  display: flex;
  flex-direction: column;
}

span {
  font-weight: bold;
  text-decoration: underline;
  color: rgba(138, 10, 10, 1);
}

.brand .info li {
  padding: 20px 0 20px;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
}

.who-header {
  font-size: 30px;
  transform: rotate(270deg);
  font-family: 'Julius Sans One', sans-serif;
}

.who {
  margin: 25px 0 50px 0;
  background: url('../images/desk.jpg') fixed center center no-repeat;
  background-size: cover;
  z-index: 1;
  width: 90%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  position: relative;
  border: 3px solid rgba(200,200,200,.6);
}

.descriptor-slide {
  font-size: 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 8px;
  text-align: center;
  position: absolute;
  top: 20%;
  padding: 10px;
  background-color: rgba(200,200,200,.8);
  border: 1px solid rgba(200,200,200,.3);
  z-index: 5;
  text-transform: uppercase;
}

.attr-info {
  text-transform: lowercase;
  font-size: 20px;
}

/* Projects */
.project-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 1%;
}

.image {
  padding: 1%;
}

.description {
  width: 60vw;
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

.thumbnail {
  max-width: 43vw;
  max-height: 40vh;
  width: auto;
  height: auto;
  border: 2px solid rgba(200,200,200,.5);
  text-align: center;
}

/* CV */
.exp-headers {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid rgba(200,200,200,.5);
  border-top: 1px solid black;
}

.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

.timeline {
  max-width: 72vw;
  width: auto;
}

.experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  max-width: 60vw;
  width: auto;
  height: auto;
  margin: 5% auto;
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  max-width: 65vw;
  width: auto;
  height: auto;
  margin: 5% auto;
}

.skill {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  max-height: 15vh;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: 'Tenali Ramakrishna', sans-serif;
  margin: 3% 6%;
}

.skillthumbnail {
  max-width: 13vw;
  max-height: 13vh;
  padding: 0 0 5px 0;
  width: auto;
  height: auto;
}

.cvthumbnail {
  max-width: 32vw;
  max-height: 30vh;
  padding: 5px;
  width: auto;
  height: auto;
  text-align: center;
}

.exp-left {
  padding: 0 2% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  max-width: 40vw;
  width: auto;
}

.exp-right {
  padding: 0 0 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  max-width: 40vw;
  width: auto;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

/* Footer */
/* Contact Me */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 1px solid rgba(200,200,200,.5);
}

.icon-list {
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  margin-right: 50px;
}

.icons {
  height: 25px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 50%;
}

.icons:hover {
  background-color: rgba(67, 89, 97, .5);
  transition: background-color .75s ease 0s;
}
