html {
  background-color: #F4F4E3;
  background-image: url(images/snow.png)
  /*text-transform: uppercase;*/
  /*font-family: 'Athiti', sans-serif;*/
  /*font-family: 'Orbitron', sans-serif;*/
  /*font-family: 'Julius Sans One', sans-serif;*/
  /*font-family: 'Syncopate', sans-serif;*/
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 1000px;
}

nav {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-weight: 600;
  font-size: 24px;
  width: 45%;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 5px 0;
}

nav a {
  text-decoration: none;
  color: #393C3E;
  text-transform: uppercase;
  padding: 7px 0 0 0;
}

nav a:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: #64686B;
  /* find a grey-ish color */
  border-radius: 50%;
  transition: color 2s linear .5s, border-radius 2s linear .5s;
}

nav a:active {
  color: white;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  color: #364149, black;
}
h4 {
  font-size: 24px;
  font-family: 'Julius Sans One', sans-serif;
}

.profile-pic {
  border-radius: 50%;
  border: 1px solid black;
  height: 175px;
  margin: auto 50px auto 0;
}

/* Who */

/* Projects */

/* CV */
.download-btn {
  border: 2px solid black;
  background-color: white;

  /* find colors */
}

/* Footer */
/* Contact Me */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icon-list {
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  margin-right: 50px;
}

.icons {
  height: 25px;
}

.fb-icon {
  height: 27px;
}

.steam-icon {
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
}
