<div class="cv">
  <div class="timeline" ng-controller="CvController as vm">

  <div class="experience">
    <a href="mailto:adkins.kendall90@gmail.com?subject=Job Opportunity&body=**Thanks for your interest, I look forward to hearing about the opportunity! Take care -Kendall**" class="btn">Hire...</a>
    <a href="kendall_adkins_resume.pdf" download="KendallAdkins-Resume" class="btn">download resume</a>
    <a href="mailto:adkins.kendall90@gmail.com?subject=Freelance Inquiry&body=**Thanks for your interest, please include in this email your name, organization/hobby, timeframe, and other pertinent information. Take care -Kendall**" class="btn">Freelance...</a>
  </div>

<!-- large div blocks per section <> alternating sides -->
    <h4 class="exp-headers">Languages/Frameworks</h4>
    <div class="skills-container">
      <div ng-repeat="skill in vm.skills | orderBy: '-confidence'" class="skill">
        <img data-ng-src="{{ skill.img_url }}" alt="{{ skill.name }}" class="skillthumbnail">
        <p>{{ skill.name }}</p>
      </div>
    </div>

    <h4 class="exp-headers">Job Experience</h4>
    <div ng-repeat="job in vm.job" class="experience">
      <div class="exp-left">
        <img data-ng-src="{{ job.img_url }}" class="cvthumbnail">
      </div>
      <div class="exp-right">
        <p class="title">{{ job.title }} - {{ job.organization }}</p>
        <p>{{ job.description }}</p>
      </div>
    </div>

    <h4 class="exp-headers">Tech Community</h4>
    <div ng-repeat="comm in vm.community" class="experience">
      <div class="exp-left">
        <p><a href="{{ comm.url }}" class="title">{{ comm.organization }}</a></p>
        <p>{{ comm.description }}</p>
      </div>
      <div class="exp-right">
        <img data-ng-src="{{ comm.img_url }}" class="cvthumbnail">
      </div>
    </div>

    <h4 class="exp-headers">Education</h4>
    <div ng-repeat="edu in vm.education" class="experience">
      <div class="exp-left">
        <img data-ng-src="{{ edu.img_url }}" class="cvthumbnail">
      </div>
      <div class="exp-right">
        <p  class="title">{{ edu.school_name }} - {{ edu.end_date | date : "yyyy" }}</p>
        <p>{{ edu.description }}</p>
      </div>
    </div>

  </div>

  <a href="../../kendall_adkins_resume.pdf" download="KendallAdkins-Resume" class="btn">download pdf resume</a>
</div>
