<div class="cv">
  <div class="timeline" ng-controller="CvController as vm">

<!-- large div blocks per section <> alternating sides -->
    <h4 class="exp-headers">Languages/Frameworks</h4>
    <div class="skills-container">
      <div ng-repeat="skill in vm.skills" class="skill">
        <img ng-src="{{ skill.img_url }}" alt="{{ skill.name }}" class="skillthumbnail">
        <p>{{ skill.name }}</p>
      </div>
    </div>

    <h4 class="exp-headers">Job Experience</h4>
    <div ng-repeat="job in vm.job" class="experience">
      <div class="exp-left">
        <img data-ng-src="{{ job.img_url }}" class="cvthumbnail">
      </div>
      <div class="exp-right">
        <p>{{ job.title }} - {{ job.organization }}</p>
        <p>{{ job.description }}</p>
      </div>
    </div>

    <h4 class="exp-headers">Tech Community</h4>
    <div ng-repeat="comm in vm.community" class="experience">
      <div class="exp-left">
        <p><a href="{{ comm.url }}">{{ comm.organization }}</a></p>
        <p>{{ comm.description }}</p>
      </div>
      <div class="exp-right">
        <img data-ng-src="{{ comm.img_url }}" class="cvthumbnail">
      </div>
    </div>

    <h4 class="exp-headers">Education</h4>
    <div ng-repeat="edu in vm.education" class="experience">
      <div class="exp-left">
        <img data-ng-src="{{ edu.img_url }}" class="cvthumbnail">
      </div>
      <div class="exp-right">
        <p>{{ edu.school_name }} - {{ edu.end_date | date }}</p>
        <p>{{ edu.description }}</p>
      </div>
    </div>

  </div>



  <button type="button" name="button" class="btn">pdf</button>
</div>
