<div class="home">
  <!-- <div class="brand">

    <h5>'Clean and simple designs with great functionality.  That's the hallmark of a great website or application.'</h5>
  </div> -->

  <div class="control">

    <h2 class="who-header">Who</h2>

    <div class="who">

      <div class="descriptor-slide" data-ng-controller="HomeController as vm">

        <p class="animated slideInRight" data-ng-repeat="attr in vm.attributes" data-ng-show="vm.carouselIndex==$index">{{ attr.content }}</p>
        <br/>
        <p class="animated slideInLeft attr-info" data-ng-repeat="attr in vm.attributes" data-ng-show="vm.carouselIndex==$index">{{ attr.info }}</p>

      </div>
    </div>
  </div>

  <div class="brand">
    <p class="info">
      <ul>
        <li><span>CAREER.</span> Started in retail management and non-profit management. Love programming websites and applications especially in AngularJS or Rails, like this site.</li>
        <li><span>LOCATION.</span> Grew up in Baltimore, MD and attended Elon University in NC and made my way back up to the DMV.</li>
        <li><span>SOCCER.</span> Fan of all sports but mostly soccer and NCAA basketball. March Madness and World Cup are my all-time favorite events.</li>
        <li><span>MUSIC.</span> Can't play the guitar despite attempts over the past few years, but attend a variety of live shows, especially indie rock.</li>
        <li><span>ACTIVE.</span>  One triathlon, several 5ks, and countless hiking trips.</li>
        <li><span>COMPETITIVE.</span> A competitive team player, growing up playing basketball and soccer. Always a competitor even when it comes to board/video games.</li>
      </ul>
    </p>
  </div>

  <div class="button-container">

    <div class="button-holder">
      <p class="info">Looking to hire a forward-thinking web developer? </br> Need a website or application for your organization or hobby? </p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScaovgm5884mQYqRTCRZra-B2C9ZJ76g20AyZkS7bQXj3g7dw/viewform" class="btn">Contact Me</a>
    </div>

  </div>
<!--
  <div class="form-holder show">
    <form action="/https://docs.google.com/spreadsheets/d/1cr32bhYDhWtM2YNp3epVDBILJdOEG23UX433urQeGq0/edit#gid=0" method="post">
      <input type="text" name="Company" placeholder="Company Name" required/>
      <input type="text" name="Contact" value="" placeholder="Contact Name" required />
      <input type="text" name="Email" value="" placeholder="Email Address" required />
      <input type="text" name="Phone" value="" placeholder="Phone Number" />
      <input type="text" name="Opportunity" value="" placeholder="Position" required />
      <input type="text" name="Location" value="" placeholder="Location" />
      <textarea name="Description" value="" required> </textarea>
      <input type="submit">
    </form>
  </div> -->

</div>
